---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Automate Momentum v2 | Architectural Intelligence">
	<main>
		<Hero />
	</main>
</Layout>
